<?php declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__ . '/src', __DIR__ . '/override', __DIR__ . '/tests', __DIR__ . '/config', __DIR__ . '/public', __DIR__ . '/bin'])
;

$header = <<<HEADER
Personal project using Php 8/Symfony 5.2.x@dev.

@author       : Takieddine Messaoudi <takieddine.messaoudi.official@gmail.com>
@organization : Smart Companion
@contact      : takieddine.messaoudi.official@gmail.com

HEADER;

return (new PhpCsFixer\Config())
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        '@DoctrineAnnotation' => true,
        '@PHP80Migration' => true,
        '@PHP80Migration:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        'strict_param' => true,
        'php_unit_dedicate_assert' => ['target' => '5.6'],
        'array_syntax' => ['syntax' => 'short'],
        'fopen_flags' => false,
        'protected_to_private' => false,
        'native_constant_invocation' => true,
        'combine_nested_dirname' => true,
        'list_syntax' => ['syntax' => 'short'],
        'header_comment' => [
            'header' => $header,
            'separate' => 'both',
            'location' => 'after_open'
        ]
    ])
    ->setUsingCache(true)
    ->setHideProgress(false)
    ->setFinder($finder)
;
