default:
    autoload:
        - "%paths.base%"
    formatters:
        pretty:
          verbose:  true
          paths:    false
          snippets: false
    suites:
        demo:
            paths:
              features: tests/src/Behat/Suite/Demo/Feature
            contexts:
                - App\Tests\Behat\Suite\Demo\Context\Index
                - App\Tests\Behat\Common\Context\Action
                - App\Tests\Behat\Common\Context\Screenshots
                - App\Tests\Behat\Common\Context\FileDownload
                - Behat\MinkExtension\Context\MinkContext
    extensions:
        Behat\MinkExtension:
          sessions:
            headless_browsers_session:
              goutte: ~
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/config/bootstrap.php
            kernel:
                environment: test
                debug: true
